.navbar .navbar-brand {
	color:#f8f8f8;
}
.navbar .nav-item {
	color:#161616;
}
#allmovies {
	width: 100%;
	height: 100%;
}
#allmovies img {
	height:60%
}
.img-thumbnail img{
	width:100%;
}

.img-thumbnail {
	padding:0px;
}

.img-thumbnail .caption-full{
	padding:9px;
}

.delete-form{
	display: inline;
}
.checked {
    color: orange;
}
.jumbotron.background {
  background-image: url("../assets/homepage.png");
  background-size: cover;
}
.non-background {
	background-color: #ffffff;
	background-size: cover;
}
.non-background h3{
	color: #5e6573;
}

#welcomJumbotron h1{
	color: rgb(250, 248, 248);
}
#welcomJumbotron p{
	color: rgb(252, 230, 230);
	font-size: 20px;
}